.info-1, .info-2, .info-3 {
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.info-1 
{
  background-image: url(./assets/task2-bg.jpeg); 
  background-repeat: none;
  display: inline-block; 
  padding: 40px 20px 40px 20px;
  border-radius: 5px;
  background-size: cover;

}

.info-2
{
    background-image: url(./assets/task2-bg1.jpeg);
    background-repeat: none;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-size: cover;
    padding: 40px 20px 40px 20px;
    


}


.info-3 
{
background-image: url(./assets/task2-bg2.jpg);
background-repeat: none;
display: inline-block;
padding: 20px;
border-radius: 5px;
background-size: cover;
padding: 40px 20px 40px 20px;

}